*.pyc
*.pyo
*.pyd
*.ipynb
*.log
*.DS_Store
.env
__pycache__/
*.log
*.zip
*.tar.gz
*.egg-info/
.dockerignore
Dockerfile
*.md
*.ipynb_checkpoints/
.env
.cache/
__pycache__/
Notebooks/
Resources/
tests/
htmlcov/
app/__pycache__/

